!!! html
%html
  %head
    %title KB
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{rel: 'stylesheets', href: 'https://fonts.googleapis.com/css?family=Quattrocento+Sans' }
  %body
    %div.pt-4.bg-primary{style: 'padding-bottom:64px;'}
      %div.mx-auto.d-flex.justify-content-between.align-items-center{style: 'width: 960px'}
        %h1.text-light
          %i.fas.fa-graduation-cap
          Knowledge Base
        %nav
          %a.btn.btn-light{href: '#'} Contact
          %a.btn.btn-light{href: '#'} Sign-in

    %div.d-flex.align-items-start.mx-auto{style: 'width: 960px; margin-top:-48px'}
      %div.card.mr-2{style: 'width: 280px; flex-shrink: 0'}
        %div.card-body
          Menu
      %div= yield
